//<Адаптив>===========================================================================================================================================
@media (max-width: 1200px) {
	.container {
		padding: 0 10px;
	}
}

@media (max-width: 1150px) {
 .header__contacts {
	 padding-right: 10px; }
}

@media (max-width: 1024px) {
	.logo-icon {
		margin-right: 25px;
	}
	.menu {
    margin-right: 20px;
	}
}

@media (max-width: 900px) {
	.logo-icon {
    margin-right: 15px; }
	.menu a {
    font-size: 16px; }
}

@media (max-width: 812px) {
	.header__container {
		padding: 0 10px 0 0; }
	.header__row {
    min-height: 80px;
    padding: 15px 0; }
	.logo-icon {
		max-width: 135px;
		width: 100%; }
	.logo-icon span {
    top: -40px;
    width: 130px;
    height: 80px; }
	.menu {
		height: 100%; }
	.menu a {
		font-size: 14px; }
}

@media (max-width: 768px) {
	.header {
		position: fixed;
		width: 100%;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}
	.header__container {
    padding: 0 10px; }
	.header__row {
    min-height: 50px;
    padding: 10px 0; }
	.icon-menu {
		display: block;
	}
	.logo-icon span {
    top: -25px;
    /* left: 10px; */
    width: 180px;
    height: 50px; }
	.logo-icon span:before {
		background-size: 45%; }
	.menu__body {
		display: none;
	}
	.header__contacts {
    flex: 0 0 190px;
		height: 25px;
    margin-left: 0; 
		margin-right: 20px; }
	.header__popup-link {
		display: none; }
	.bascket-icon__number {
		top: -30%; }
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s; }
	}

@media (max-width: 360px) {
	.header__callback {
    display: none; }
	.mob-callback__phone {
    display: flex; 
		margin-right: 15px;
    margin-left: auto;
	}
	.mob-callback__phone:before {
    background-size: 83%;
    background-position: 0% 0%; }
}
