//<Адаптив>===========================================================================================================================================
@media (max-width: 1720px) {
	.about-bg-2 {
    right: -35%; }
}

@media (max-width: 1500px) {
	.about-bg-1 {
    left: -3%; }
	.about-bg-2 {
    right: -40%; }
	.about-bg-3 {
		left: -15%; }
}

@media (max-width: 1366px) {
	.about-bg-1 {
    left: -8%; }
	.about-bg-2 {
    right: -48%; }
	.about-bg-3 {
		left: -20%; }
}

@media (max-width: 1280px) {
	.about-bg-1 {
    left: -12%; }
	.about-bg-2 {
    right: -50%; }
	.about-bg-3 {
		left: -23%; }
}

@media (max-width: 1200px) {
	.container {
		padding: 0 10px; }
	.about-bg-1 {
		left: -12%; }
	.about-bg-2 {
		right: -53%; }
}

@media (max-width: 1150px) {
 .header__contacts {
	 padding-right: 10px; }
	 .about-bg-1,
	 .about-bg-2, 
	 .about-bg-3 {
		display: none; }
}

@media (max-width: 1024px) {
	.logo-icon {
		margin-right: 25px;
	}
	.menu {
    margin-right: 20px;
	}
}

@media (max-width: 900px) {
	.logo-icon {
    margin-right: 15px; }
	.menu a {
    font-size: 16px; }
	.about {
		position: relative;
		padding: 80px 0; }
	.advantages-block {
		position: sticky;
		padding: 20px; }
	.charact__row {
		margin-bottom: 35px; }
	.products {
		padding: 50px 0; }
	.prod-card__body {
		padding: 10px; }
}

@media (max-width: 812px) {
	.header__container {
		padding: 0 10px 0 0; }
	.header__row {
    min-height: 80px;
    padding: 15px 0; }
	.logo-icon {
		max-width: 135px;
		width: 100%; }
	.logo-icon span {
    top: -40px;
    width: 130px;
    height: 80px; }
	.menu {
		height: 100%; }
	.menu a {
		font-size: 14px; }
	.first {
		padding: 50px 0;
		border-radius: 0; }
	.about {
		padding: 60px 0; }
	.advantages-block__row {
		padding: 0; }
}

@media (max-width: 768px) {
	.header {
		position: fixed;
		width: 100%;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
	.header__container {
    padding: 0 10px; }
	.header__row {
    min-height: 50px;
    padding: 10px 0; }
	.icon-menu {
		display: block; }
	.logo-icon span {
    top: -25px;
    width: 180px;
    height: 50px; }
	.logo-icon span:before {
		background-size: 45%; }
	.menu__body {
		display: none; }
	.header__contacts {
    flex: 0 0 190px;
		height: 25px;
    margin-left: 0; 
		margin-right: 20px; }
	.header__popup-link {
		display: none; }
	.bascket-icon__number {
		top: -30%; }
	.first {
		padding: 90px 0 50px 0;
		background: #EBEFE2;
		border-radius: 0; }
	.advantages-block {
		border-radius: 0; }
	.prod-card__body {
		padding: 20px;
		flex: 0 1 48%; }
	.products {
		padding: 30px 0; }
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s; }
	.advantages-block__item p {
		font-size: 18px; }
}

@media (max-width: 570px) {
	.first__flex-block {
		justify-content: center;
    flex-wrap: wrap-reverse; }
	.first__slider-img {
    max-width: 100%;
    width: 100%;
    max-height: 100%; }
	.first__slider {
		margin-bottom: 25px; }
	.advantages-block__row {
		padding: 0;
		flex-wrap: wrap; }
	.prod-card__body {
		padding: 10px; }
}

@media (max-width: 515px) {
	.first {
    padding: 75px 0 50px 0; }
	.first__descrip h1 {
    font-size: 38px;
    line-height: 1;
    margin-bottom: 25px; }
	.charact__tab {
		padding: 15px; }
	.advantages-block__item {
		width: 35%; }
	.about p {
		text-align: justify; }
	.prod-card {
		justify-content: center; }
	.prod-card__body {
		flex: 0 1 80%;
		padding: 20px; }
}

@media (max-width: 460px) {
	.footer__menu {
		flex-direction: column;
		align-items: center; }
}

@media (max-width: 440px) {
	.charact__line {
    flex-direction: column; }
	.advantages-block__item {
			width: 50%; }
}

@media (max-width: 414px) {
	.first__btn {
		width: 100%; }
	.first__descrip h1 {
		font-size: 36px;}
	.prod-card__body {
		flex: 0 1 100%;
		padding: 25px; }
}

@media (max-width: 360px) {
	.header__callback {
    display: none; }
	.mob-callback__phone {
    display: flex; 
		margin-right: 15px;
    margin-left: auto;
	}
	.mob-callback__phone:before {
    background-size: 83%;
    background-position: 0% 0%; }
	.advantages-block {
		padding: 15px; }
	.advantages-block__item-icon {
		width: 80px;
		height: 80px;
		margin-bottom: 10px; }
}
