//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@font-face {
	font-family: "Circle";
	src: url("../fonts/Circle-Regular.eot");
	src: local("☺"), url("../fonts/Circle-Regular.woff") format("woff"), url("../fonts/Circle-Regular.ttf") format("truetype"),
	url("../fonts/Circle-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Circle";
	src: url("fonts/Circle-Bold.eot");
	src: local("☺"), url("../fonts/Circle-Bold.woff") format("woff"), url("../fonts/Circle-Bold.ttf") format("truetype"),
	url("../fonts/Circle-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Circle";
	src: url("../fonts/Circle-ExtraBold.eot");
	src: local("☺"), url("../fonts/Circle-ExtraBold.woff") format("woff"), url("../fonts/Circle-ExtraBold.ttf") format("truetype"),
	url("../fonts/Circle-ExtraBold.svg") format("svg");
	font-weight: 800;
	font-style: normal;
}
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Circle";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1140;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;  
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #737373;
	font-size: 22px;
	line-height: 33px;
	font-weight: 400;
	// background: #F6F8F1;
	a {
		font-family: 'Circle';
		font-size: 18px;
		color: #000;
	}
	&.lock {
		overflow: hidden;
	} 
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ЗАГОЛОВКИ>=================================================================================================================
h1 {
	font-size: 48px;
	font-weight: bold;
	line-height: 57.6px;}
h2 {
	font-size: 36px;
	font-weight: bold;
	line-height: 43.2px;}
h3 {
	font-size: 28px;
	line-height: 33.6px;}
h4 {
	font-size: 20px;
	line-height: 24px;}
//<ЗАГОЛОВКИ>=================================================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	// min-height: 200vh;
	// position: relative;
	&.loaded {
	}
}
.page {
	flex: 1 1 auto;  
	// padding: 35px 0;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	// @media (max-width: $md1+px) {
	// 	// max-width: 970px;
	// 	padding: 0 10px;
	// }
	// @media (max-width: $md2+px) {
	// 	// max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	// max-width: none;
	// 	// padding: 0 10px;
	// }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>============================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
// @import "fancybox.min.scss";
// @import "home.scss";
// @import "pagging.scss";
//@import "icons.scss";
// @import "map.scss";
// @import "slider.scss";
// @import "collection.scss";
// @import "popup.scss";
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>=====================================================================================================================================
.first {
	padding: 113px 0 141px 0;
	background: #F6F8F1;
	border-radius: 0 0 130px 130px;
}

.first__flex-block {
	justify-content: space-between;
}

.first__descrip h1 {
	color: #588668;
	margin-bottom: 15px;
}

.first__price-block {
	align-items: center;
	margin-bottom: 15px;
}

.first__price-old {
	font-size: 24px;
	color: #000;
	text-decoration: line-through;
	margin-right: 21px;
}

.first__price-new {
	font-size: 36px;
	color: #fff;
	padding: 6px;
	background: #08800094;
	border-radius: 5px;
}

.first__descrip p {
	font-size: 22px;
	line-height: 26.4px;
	margin-bottom: 32px;
}

.first__btn {
	min-width: 201px;
	height: 76px;
	font-size: 16px;
	border-radius: 50px;
}

.first__slider-img {
	max-width: 466px;
	width: 100%;
	max-height: 373px;
	overflow: hidden;
}

.first__slider-img img {
	max-width: 100%;
	width: 100%;
	object-fit: cover;
}
//====================================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================================================

//<Адаптив>===========================================================================================================================================
@import "media.scss";